body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
    font-family: 'Roboto', 'sans-serif';
}

a{
    color: #373867;
    text-decoration: none;
}

h1{
    font-size: 35px;
    color: #373867;
}

h2{
    font-size: 30px;
    color: #373867;
}

p a{
    color: red;
}

p a:hover{
    color: #AACE9B;
}

#main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login{
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    padding: 0px 20px;
    width: 80%
}

#login h2, #login p, #login label{
    color: #373867;
}

#login h2, #login p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 10px 0px;
}

form > div:nth-child(1), form > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

form div:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    padding: 10px 0px;
}

.form-text{
    font-style: normal;
    font-size: 15px;
}

.form-input{
    display: inline-block;
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    border: 1px #373867 solid;
    border-radius: 4px;
    box-sizing: border-box;
}

form .form-container input[type=text] .form-input-invalid{
    display: inline-block;
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    border: 2px red solid;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

button{
    margin: 10px 0px;
}

.btn{
    display: inline-block;
    padding: 10px 15px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', 'sans-serif';
    white-space: nowrap;
    cursor: pointer;
}

.btn-green{
    background-color: #AACE9B;
    color:#fff;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

footer p{
    text-align: center;
    color: #000;
    font-size: 14px;
}

#footer-img-container{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footer-img{
    margin: 0px 20px;
}

#login form .invalid-input{
    text-align: left;
    font-size: 14px;
    color: red;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header > div, header > h2{
    padding: 5px 0px;
}

header h2{
    display: flex;
    align-self: center;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }


  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #AACE9B;
    color: white;
    text-align: center;
  }

  /* Modal Body */
  .modal-body {
    padding: 2px 16px;
    text-align: center;
}

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

@media (min-width: 480px) {
    .form-container{
        width: 100%;
    }
}

@media (min-width: 1024px) {
    #login{
        margin-left: 160px;
    }
}