/* Footer */

footer{
    background-color: #AACE9B;
    text-align: center;
}

.footer-img-container{
    display: flex;
    padding: 15px;
    justify-content: center;
}

.footer-img{
    margin: 0px 20px;
}

.footer-text{
    padding: 10px 0px;
}