/* Main Section */


main h2{
    color: #000000;
    text-align: center;
    border-bottom: 10px solid #d9d9d9;
    font-size: 35px;
} 




#sidebar li{
    padding: 10px 0px;
}

#sidebar li p {
    display: inline-block;
    padding: 0px 0px 0px 10px; 
}

#who-section p{
    height: auto;
    padding: 10px 0px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

#who-section p:first-of-type{
    color: rgb(55, 56, 103);
}

#who-section p:nth-of-type(2){
    color: #49A37B;
}

#why-section h3{
    font-size: 35px;
}

#why-section p{
    font-size: 20px;
    line-height: 1.5; 
}

.form-box div:nth-child(1){
    order: 1;
}

.form-box div:nth-child(2){
    order: 3;
}

.form-box div:nth-child(3){
    order: 2;
}

.form-box div:nth-child(4){
    order: 4;
}

.form-box div:nth-child(5){
    order: 5;
}

#why-cards div:nth-child(1) h3 {
    border-bottom: 5px solid #286276;
}

#why-cards div:nth-child(2) h3, #why-cards div:nth-child(4) h3 {
    border-bottom: 5px solid #ffffff;
}

#why-cards div:nth-child(3) h3 {
    border-bottom: 5px solid #d9d9d9;
}

.main-container{
    position: relative;
    width: auto;
    height: max-content;
    padding: 20px 18px;
    box-sizing: content-box;
}

.cards-container{
    position: relative;
    display: flex;
    width: auto;
    height: max-content;
    padding: 25px 5px;
    box-sizing: content-box;
}

.card-box{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 15px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.card-box p{
    font-size: 20px;
}

.card-img{
    width: 100%;
    height: auto;
}

.card-image-container{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.card-text-box{
    display: flex;
}

.card-text-container{
    line-height: 1.5;
    padding: 30px 0px
}

.box-60p{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
}

/* Functionalities */
.f-container{
    display: flex;
    width: auto;
    height: auto;
    padding: 5px 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.f-container h3{
    font-size: 30px;
    text-align: center;
}

.f-container p {
    font-size: 20px;
    text-align: justify;
}

.element-container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    /* padding: 10px; */
    justify-content: space-evenly;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 150px;
    width: 20%;
    height: auto;
    padding: 10px;
    justify-content: space-evenly;
}

.img-container-100{
    width: 100%;
}

.text-box{
    padding: 50px 10px;
}

.text-box > .text-container{
    width: 100%;
}

.element-container > .text-container{
    width: 100%
}

.text-container{
    display: flex;
    width: 70%;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.block-f-img-bg-hl{
    width: auto;
    height: auto;
    background-image: url(/Semana-02/assets/img/icons/hours-log.png);
    background-size:cover;
}

.block-f-img-bg-hl:hover{
    background-image: url(/Semana-02/assets/img/icons/hours-log-hover.png);
}


.block-f-img-bg-hl{
    display: flex;
    width: 142px;
    height: 142px;
    background-image: url("../assets/img/icons/hours-log.png");
}

.block-f-img-bg-hl:hover{
    background-image: url("../assets/img/icons/hours-log-hover.png");
}

.block-f-img-bg-mr{
    width: 142px;
    height: 142px;
    background-image: url("../assets/img/icons/multiple-roles.png");
}

.block-f-img-bg-mr:hover{
    background-image: url("../assets/img/icons/multiple-roles-hover.png");
}

.block-f-img-bg-r{
    width: 142px;
    height: 142px;
    background-image: url("../assets/img/icons/reports.png");
}

.block-f-img-bg-r:hover{
    background-image: url("../assets/img/icons/reports-hover.png");
}

.block-f-img-bg-rm{
    width: 142px;
    height: 142px;
    background-image: url("../assets/img/icons/resource-managemet.png");
}

.block-f-img-bg-rm:hover{
    background-image: url("../assets/img/icons/resource-management-hover.png");
}





.list-text-container{
    display: flex;
    justify-content: space-between;
}





/* Contact */

.form-box{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
}

.form-text{
    font-style: normal;
    font-size: 15px;
}

.form-input-message{
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 8px 0;
    padding: 10px 12px;
    border: 1px #373867 solid;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-message-container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.form-button-container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:space-between;
}

.form-input{
    display: inline-block;
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    border: 1px #373867 solid;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    font-family: 'Roboto', 'sans-serif';
}

input[type=text], select {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
  }

.btn{
    display: inline-block;
    padding: 10px 15px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', 'sans-serif';
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.btn-green{
    background-color: #AACE9B;
    color:#373867;
}

.btn-green:hover{
    background-color: rgba(73, 163, 122, 0.918)
}

.btn-red{
    background-color: #f13312;
    color:#373867;
}

.btn-red:hover{
    background-color: #f13412af;
}

/* List */

.list-container{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-image: url(../assets/img/list-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.list-container h4{
    color: #373867;
    font-size: 25px;
    text-align: center;
}

.list-container ol{
    text-align: center;
    padding-left: 10px;
    margin-left: 5px;
}

.list-container ol > li{
    text-align: left;
    list-style-type: decimal;
    color: #373867
}

.list-container ol > li > a{
    display: block;
    color: #373867;
}

.list-container ol > li:hover{
    color: #f13312;
}

.list-block{
    width: 30%;
    min-width:max-content;
}

.list-block li a:hover{
    color: #f13312;
}

/* Media Queries */

@media (max-width : 765px){
    .block{
        width: 100%;
    }
}

@media (min-width: 480px) {
    .form-container{
        width: 45%;
    }

    .f-container .text-container{
        width: 100%;
    }
    
    .element-container{
        width: 50%;
    }

    .form-box div:nth-child(2){
        order: 2;
    }

    .form-box div:nth-child(3){
        order: 3;
    }
}

@media (max-width: 1023px) {

    figure{
        display: none;
    }
    .box-60p{
        display: block;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .f-container .element-container{
        width: 50%;
    }
    
}

@media (min-width: 1024px){
    header, main, footer{
        margin-left: 160px;
    }

    #who-section p{
        text-align: center;
    }

    #why-section p{
        font-size: 25px;
        line-height: 1.5; 
    }
    
    .card-box{
        width: 95%;
    }

    .element-container > .text-container{
        width: 100%
    }

    .list-container{
        padding: 15px 100px;
    }

    #why-section .card-box{
        width: 90%;
    }
}

@media (min-width: 1440px){
    .element-container .text-container{
        width: 60%;
    }

    .list-container{
        padding: 15px 20%;
    }
}

