/* General Styles */

a,p{
    word-wrap: break-word;
}

body{
    margin: 0px;
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.5;
}

main{
    background-color: white;
}

h1{
    width: 120%;
    border-bottom: solid 3px #AACE9B;
    font-size: 40px;
    color: #ffffff;
}

h2{
    color: #ffffff;
}

a{
    text-decoration: none;
}

.bg-gray{
    display: inline-block;
    width: 100% !important;
    background-color: #d9d9d9;
}

/* Text */

.text-center{
    text-align: center;
} 

/* Text Colors */

.text-light{
    color: rgb(256,256,256, 0.75);
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
}

/* Main Sections */

.cards-container{
    position: relative;
    height: max-content;
    padding: 50px 50px;
    box-sizing: content-box;
}

.card-img{
    max-width: 512px;
    max-height: 400px;
}

.card-box{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 100px 0px;
    box-sizing: content-box;
}

/* Functionalities */

.block-f-img{
    display: flex;
    width: 20%;
}

.block-f-img-bg-hl{
    width: 142px;
    height: 142px;
    background-image: url(/Semana-02/assets/img/icons/hours-log.png);
}

.block-f-img-bg-hl:hover{
    background-image: url(/Semana-02/assets/img/icons/hours-log-hover.png);
}

.block-f-img-bg-mr{
    width: 142px;
    height: 142px;
    background-image: url(/Semana-02/assets/img/icons/multiple-roles.png);
}

.block-f-img-bg-mr:hover{
    background-image: url(/Semana-02/assets/img/icons/multiple-roles-hover.png);
}

.block-f-img-bg-r{
    width: 142px;
    height: 142px;
    background-image: url(/Semana-02/assets/img/icons/reports.png);
}

.block-f-img-bg-r:hover{
    background-image: url(/Semana-02/assets/img/icons/reports-hover.png);
}

.block-f-img-bg-rm{
    width: 142px;
    height: 142px;
    background-image: url(/Semana-02/assets/img/icons/resource-managemet.png);
}

.block-f-img-bg-rm:hover{
    background-image: url(/Semana-02/assets/img/icons/resource-management-hover.png);
}

/*ICONS*/

.fa-brands{
    color:#ffffff;
}

.fa-brands:hover{
    color: red;
}