/* General Styles */

*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header, main, footer{
    margin-left: 160px;
}

h1{
    font-size: 40px;
}

a{
    text-decoration: none;
}

.main-container{
    position: relative;
    box-sizing: content-box;
    height:max-content;
    padding: 50px 100px;
}

.bg-gray{
    width: 150%;
    margin-left: -200px;
    background-color: #d9d9d9;
}

/* Text */

.text-size-35{
    font-size: 35px;
}

.text-size-30{
    font-size: 30px;
}

.text-size-20{
    font-size: 20px;
}

.text-center{
    text-align: center;
}

.text-box{
    padding: 50px 10px;
}

/* Text Colors */

.text-white{
    color: #ffffff;
}

.text-light{
    color: rgb(256,256,256, 0.75);
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
}

.text-blue{
    color: rgb(55, 56, 103);
}
 
 .text-green{
     color: #49A37B;
}

/* Text Attributes */

.text-container{
    padding: 30px 0px
}

/* Line Colors */

.line-gray{
    display: inline-block;
    width: 100%;
    border-top: 10px solid #d9d9d9;
}

.line-gray-thin{
    display: inline-block;
    width: 100%;
    border-top: 5px solid #d9d9d9;
}

.line-green{
    display: inline-block;
    width: 120%;
    border-top: 3px solid #AACE9B;
}

.line-greenblue{
    display: inline-block;
    width: 110%;
    border-top: 5px solid #286276;
}

.line-white{
    display: inline-block;
    width: 100%;
    border-top: 5px solid #ffffff;
}

/* Sidebar Styles */

#sidebar{
    position: fixed;
    width: 160px;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    color: #f13312;
}

.sidebar-logo-bg{
    background-color: rgb(55, 56, 103, 0.4);
}

.logo{
    display: block;
    margin: auto;
}

.sidebar-title{
    color: rgb(55, 56, 103);
    font-size: 20px;
}

.sidebar-nav-list{
    margin-top: 25px;
}

.sidebar-btn-text{
    color: #f13312;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.sidebar-nav{
    font-size: 15px;
    list-style: none;
    margin: 25px auto;
}

.sidebar-li-home{
    list-style-image: url(../assets/img/icons/icon.png);
}

.sidebar-li-person{
    list-style-image: url(../assets/img/icons/person.png);
}

.sidebar-contact-li{
    font-size: 10px;
    list-style: none;
    margin: 10px auto;
}


.sidebar-contact{
    margin-top: 300px;
    padding-left: 5px;
}

.text-underline{
    text-decoration: underline #f13312;
}

.sidebar-li-mail{
    list-style-image: url(../assets/img/icons/message-icon.png);
}

.sidebar-li-call{
    list-style-image: url(../assets/img/icons/call.png);
}

.sidebar-li-direction{
    list-style-image: url(../assets/img/icons/home.png);
}

/* Header Section */

header{
    background-image: url(../assets/img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-container{
    margin-left: 150px;
    height: 100vh;
    width: 500px;
    background-color: rgba(00, 00, 00, 0.5);
    backdrop-filter: blur(2px);
}

.header-body{
    padding-left: 15px;
    padding-top: 150px;
    padding-right: 100px;
}

/* Main Sections */

.cards-container{
    position: relative;
    float: left;
    box-sizing: content-box;
    height: max-content;
    padding: 50px 100px;
}

.card-img{
    max-width: 512px;
    max-height: 400px;
}

.card-box{
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px 0px;
    position: relative;
    box-sizing: content-box;
}

.box-40p{
    float: left;
    width: 40%;
}

.box-60p{
    float: left;
    width: 60%;
}

/* Functionalities */

.block{
    float: left;
    width: 45%;
    padding: 50px 0px;
}

.padding25{
    padding: 50px 25px;
}

.block-f-img{
    float: left;
    width: 25%;
}

.f-text-title{
    font-weight: 700;
    font-size: 30px;
    margin-left: 75px;
    padding: 5px 0px 5px 90px;
}

.f-text-body{
    font-weight: 500;
    font-size: 20px;
    margin-left: 75px;
    padding: 5px 0px 5px 90px;
}

/* Contact */

.contact-container{
    position: relative;
    height: 1200px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.form-box{
    position: relative;
    float: left;
    width: 100%;
}

.form-container{
    position: relative;
    float: left;
    width: 45%;
    padding: 20px;
}

.form-message-container{
    position: relative;
    float: left;
    width: 96.5%;
    padding: 20px;
}

.form-label{
    padding: 5px;
}

.form-hidden{
    display: hidden;
}

.form-text{
    font-style: normal;
    font-size: 15px;
}

.form-input{
    border: 1px #373867 solid;
    border-radius: 4px;
    padding: 10px 12px;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.form-input-message{
    border: 1px #373867 solid;
    border-radius: 4px;
    padding: 10px 12px;
    width: 100%;
    height: 300px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.form-button-container{
    float: left;
    width: 96.5;
    padding: 20px;
}

.form-btn-left{
    position: absolute;
    left: 0px;
    margin: 0px 20px;
}

.form-btn-right{
    position: absolute;
    right: 0px;
    margin: 0px 20px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.btn{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 0px;
}

.btn-green{
    color:#373867;
    background-color: #AACE9B;
}

.btn-green:hover{
    background-color: rgba(73, 163, 122, 0.918)
}

.btn-red{
    color:#373867;
    background-color: #f13312;
}

.btn-red:hover{
    background-color: #f13412af;
}

/* List */

.list-block{
    float: left;
    width: 30%;
}

.list-container{
    position: relative;
    height: 100px;
    padding: 40px 150px 40px 350px;
}

.list-text-color{
    color: #373867;
}

.list-title{
    font-size: 25px;
}

.list-text-container{
    display: block;
    margin: auto;
}

.list-product-bg{
    background-image: url(../assets/img/list-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */

footer{
    background-color: #AACE9B;
    text-align: center;
}

.footer-img-container{
    display: inline-block;
    padding: 15px 200px;
}

.footer-img{
    margin: 0px 20px;
}

.footer-text{
    padding: 10px 0px;
}