/* General Styles */

*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header, main, footer{
    margin-left: 160px;
}

h1{
    font-size: 40px;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}


/* Text Colors */

.text-white{
    color: #ffffff;
}

.text-light{
    color: rgb(256,256,256, 0.75);
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
}

.text-blue{
    color: rgb(55, 56, 103);
}
 
 .text-green{
     color: #49A37B;
}

/* Text Attributes */

.text-container{
    padding: 30px 0px
}

/* Line Colors */

.line-gray{
    display: inline-block;
    width: 100%;
    border-top: 10px solid #d9d9d9;
}

.line-gray-thin{
    display: inline-block;
    width: 100%;
    border-top: 5px solid #d9d9d9;
}

.line-green{
    display: inline-block;
    width: 120%;
    border-top: 3px solid #AACE9B;
}

.line-greenblue{
    display: inline-block;
    width: 110%;
    border-top: 5px solid #286276;
}

.line-white{
    display: inline-block;
    width: 100%;
    border-top: 5px solid #ffffff;
}

/* Sidebar Styles */

#sidebar{
    position: fixed;
    width: 160px;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    color: #f13312;
}

.sidebar-logo-bg{
    background-color: rgb(55, 56, 103, 0.4);
}

.logo{
    display: block;
    margin: auto;
}

.sidebar-title{
    color: rgb(55, 56, 103);
    font-size: 20px;
}

.sidebar-nav-list{
    margin-top: 25px;
}

.sidebar-btn-text{
    color: #f13312;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.sidebar-nav{
    font-size: 15px;
    list-style: none;
    margin: 25px auto;
}

.sidebar-li-home{
    list-style-image: url(../assets/img/icons/icon.png);
}

.sidebar-li-person{
    list-style-image: url(../assets/img/icons/person.png);
}

.sidebar-contact-li{
    font-size: 10px;
    list-style: none;
    margin: 10px auto;
}


.sidebar-contact{
    margin-top: 300px;
    padding-left: 5px;
}

.text-underline{
    text-decoration: underline #f13312;
}

.sidebar-li-mail{
    list-style-image: url(../assets/img/icons/message-icon.png);
}

.sidebar-li-call{
    list-style-image: url(../assets/img/icons/call.png);
}

.sidebar-li-direction{
    list-style-image: url(../assets/img/icons/home.png);
}

/* Header Section */

header{
    background-image: url(../assets/img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-container{
    margin-left: 150px;
    height: 100vh;
    width: 500px;
    background-color: rgba(00, 00, 00, 0.5);
    backdrop-filter: blur(2px);
}

.header-body{
    padding-left: 15px;
    padding-top: 150px;
    padding-right: 100px;
}